.search-form {
  margin: 5px 0;

  input[type='text'] {
    outline: none;
    padding: 10px;
    margin-right: 10px;
    width: 60%;

    @media screen and (max-width: 632px) {
      font-size: 16px;
    }
  }
}
