<html style="position: relative">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Timeworthy</title>
    {% for stylesheet in bundles.css %}
    <link rel="stylesheet" href="{{stylesheet}}">
    {% endfor %}
  </head>
  <body>
    <div id="application"></div>
    <script>
      var GAME_TITLE_LIST = [
      {% for title in gameList %}
        "{{ title|safe }}"
        {% if !loop.last %},{% endif %}
      {% endfor %}
      ];
    </script>
    {% for script in bundles.js %}
    <script src="{{script}}"></script>
    {% endfor %}
  </body>
</html>
